@charset 'UTF-8';

body {
  background: #ffffff;
}

html, body {
  width: 100%;
  height: 100%;
}

#matsudai {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#matsudai img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
